// Import Bootstrap
@import '~bootstrap/scss/bootstrap';
// Import Fontawesome
@import '~@fortawesome/fontawesome-free/css/all.css';
// Import Font Arsenal
@import '~@fontsource/arsenal/400.css';
@import '~@fontsource/arsenal/700.css';
// Import Variables.scss
@import './variables.scss';

// COMMON
body{
    font-family: "Arsenal", sans-serif;
}
// Img
img{
    max-width: 100%;
}
// Wrapper
.wrapper{
    width: 55%;
    margin: 0 auto;
}
// Ul
ul{
    list-style-type: none;
    margin: 0;
}
// A
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    color: inherit;
}
// H
h2{
    margin: 0;
}
// p
p{
    margin: 0;
}
// active
.active{
    color: $primary_color;
}
// Bgr Social
.bgr-facebook{
    background-color: #3c5998;
}
.bgr-twitter{
    background-color: #54acee;
}
.bgr-instagram{
    background-color: #40729b;
}
// Btn
.ms_btn{
    padding: 7px 25px;
    display: inline-block;
    border-radius: 1px;
}
.ms_btn-lightblue{
    color: inherit;
    background-color: $primary_color;
}
.ms_btn-white{
    color: white;
    border: 1px solid white;
}

// Main and Footer
main,
footer{
    p{
        line-height: 30px;
    }
}
main section{
    padding: 50px 0;
}

// Main Text and Main Text And Icon
.main-text,
.main-text-and-icon{
    text-align: center;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 40px;
}
.main-text-and-icon{

    h3{
        text-transform: uppercase;
        &::after{
            content: '';
            width: 180px;
            height: 1px;
            display: block;
            background-color: lightgray;
            margin: 20px auto;
        }
    }
}
// Single Description
.single-description{
    text-align: center;
    &-icon{
        padding-bottom: 10px;
        img{
            width: 60px;
        }
    }
    &-text{
    
        h4{
            font-size: 15px;
            text-transform: uppercase;
        }
        p{
            font-size: 12px;
            color: gray;
            text-align: center;
        }
    }
}
.single-icon{
    padding-bottom: 20px;
    img{
        width: 50px;
    }
}

