// Import Bootstrap
@import '~bootstrap/scss/bootstrap';
// Import Fontawesome
@import '~@fortawesome/fontawesome-free/css/all.css';
// Import Font Arsenal
@import '~@fontsource/arsenal/400.css';
@import '~@fontsource/arsenal/700.css';
// Import Variables.scss
@import './variables.scss';

// COMMON
body{
    font-family: "Arsenal", sans-serif;
}
// Img
img{
    max-width: 100%;
}
// Wrapper
.wrapper{
    width: 50%;
    margin: 0 auto;
}
// Ul
ul{
    list-style-type: none;
    margin: 0;
}
// A
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    color: inherit;
}
// H
h2{
    margin: 0;
}
// p
p{
    margin: 0;
}
// active
.active{
    color: $primary_color;
}
// Btn
.ms_btn{
    padding: 7px 25px;
    display: inline-block;
    border-radius: 1px;
}
.ms_btn-lightblue{
    color: inherit;
    background-color: $primary_color;
}